{% extends "base.html" %}

{% block content %}
<section class="container">
    <article class="one-third column">
        <h3>Pitomba</h3>
        <p>Talisia esculenta is a medium-sized tree native to the Amazon Basin, and is found in Brazil, Colombia, Peru, Paraguay and Bolivia.
The tree and fruit are called pitomba in English, Spanish and Portuguese, cotopalo in Spanish, pitoulier comestible in French and olho de boi, pitomba-rana and pitomba de macaco in Portuguese.</p>
        <a href="http://en.wikipedia.org/wiki/Talisia_esculenta" class="button">Wikipedia</a>
    </article>
    <article class="one-third column">
        <h3>Features</h3>
        <p>bla bla</p>
        <a href="{{SERVER_NAME}}/features" class="button">Features</a>
    </article>
    <article class="one-third column">
        <h3>How to Use</h3>
        <p>bla bla</p>
        <a href="{{SERVER_NAME}}/usage" class="button">Usage</a>
    </article>
</section>
{% end %}